# dependencies
/frontend/node_modules
/frontend/.pnp
/frontend/.pnp.js

# testing
/frontend/coverage

# production
/frontend/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Go
/fetch-prices/*.zip
/fetch-prices/fetch-prices
/fetch-prices/bootstrap
/get-data/*.zip
/get-data/get-data
/get-data/bootstrap
