.header {
  /* position: absolute; */
  width: 100%;
  height: 4rem;
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  justify-content: flex-start;
}

.logo {
  font-size: 2rem;
  color: #000000;
  font-weight: bold;
  margin-left: 2rem;
  flex: 1 1 auto;
  align-self: auto;
  border: 1px solid green;
}

.header nav {
  flex: 2 1 auto;
  align-self: auto;
  border: 1px solid green;
}

.header ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: none;
  align-items: baseline;
}

.header li {
  margin-left: 3rem;
}

.header a {
  text-decoration: none;
  font-size: 1.2rem;
  color: #173e43;
}

.header a:hover,
.header a:active,
.header a.active {
  color: #848484;
}

/* Wait!! */
.menuIcon {
  cursor: pointer;
  display: inline-block;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}

.menuIcon .navIcon {
  background: #333;
  display: block;
  height: 2px;
  position: relative;
  width: 18px;
}

.menuIcon .navIcon:before,
.menuIcon .navIcon:after {
  background: #333;
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
  width: 100%;
}

.menuIcon .navIcon:before {
  top: 5px;
}

.menuIcon .navIcon:after {
  top: -5px;
}

.menuIcon:hover .navIcon {
  background: transparent;
}

.menuIcon:hover .navIcon:before {
  transform: rotate(-45deg);
  top: 0;
}

.menuIcon:hover .navIcon:after {
  transform: rotate(45deg);
  top: 0;
}

@media (min-width: 55em) {
  .menuIcon {
    display: none;
  }
  .header ul {
    display: flex;
  }
}
