.flexContainer {
  position: relative;
  display: flex;
  flex-direction: column;
}

.map {
  flex: 0 0 33%;
  align-self: auto;
  padding: 0 0.5rem 0;
}

.details {
  flex: 1 0 65%;
  align-self: auto;
  padding: 0 0.5rem 0;
  margin: 0 0.5rem 0;
  background-color: #f7f6f4;
}

.actionContainer {
  display: flex;
  flex-direction: row;
}

.actionContainer .timeZone {
  flex: 1 0 auto;
  align-self: auto;
}

.actionContainer .dateSelector {
  flex: 1 0 auto;
  align-self: auto;
}

@media (min-width: 55em) {
  .flexContainer {
    flex-direction: row;
  }
}
