.flexContainer {
  position: relative;
  display: flex;
  flex-direction: column;
}

.map {
  flex: 0 0 33%;
  align-self: auto;
  background-color: #dddfd4;
}

.details {
  flex: 1 0 65%;
  align-self: auto;
  padding: 0 1rem;
  background-color: #f7f6f4;
}

@media (min-width: 55em) {
  .flexContainer {
    flex-direction: row;
  }
  .details {
    margin: 0 0.7rem 0;
  }
}
