.flexContainer {
  display: flex;
  flex-direction: column;
}

.map {
  flex: 3 1 auto;
  align-self: auto;
  background-color: #dddfd4;
  text-align: right;
}

.text {
  flex: 1 1 auto;
  align-self: auto;
  padding: 0 1rem;
  background-color: #f7f6f4;
}

@media (min-width: 55em) {
  .flexContainer {
    flex-direction: row;
  }
  .text {
    margin: 4rem 0.5rem 0;
  }
}
