.date {
  display: flex;
  flex-direction: row;
  list-style: none;
  margin: 0;
  padding: 0 0 0.75rem 0;
}

.date .value {
  flex: 1 0 auto;
  padding: 0 0.3rem;
  text-align: right;
  font-size: 1.2rem;
  color: #000000;
}

.date .value:hover {
  color: #848484;
  cursor: pointer;
}

.date .value:nth-child(2n) {
  text-align: left;
}

.selected {
  text-decoration: underline;
}

@media (min-width: 55em) {
  .date .value {
    padding: 0 1rem;
  }
}
