.flexContainer {
  position: relative;
  display: flex;
  flex-direction: column;
}

.map {
  flex: 0 0 65%;
  align-self: auto;
  /* background-color: #dddfd4; */
  background: linear-gradient(to right, #eae5e2 0%, #ddd7d3 100%);
  text-align: right;
}

.text {
  flex: 1 0 33%;
  align-self: auto;
  padding: 0 1rem 1rem 1rem;
  background-color: #f7f6f4;
}

@media (min-width: 55em) {
  .flexContainer {
    flex-direction: row;
  }
  .text {
    margin: 4rem 0.7rem 0;
    box-shadow: -4px 0 12px rgba(0, 0, 0, 0.08);
  }
}
